<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %highlight(%-5level) [%thread] %highlight(%class.%method:%line) - %msg%n</pattern>
    </encoder>
  </appender>

  <!--
      <logger name="com.mycompany">
          <level value="DEBUG" />
      </logger>
  -->

  <root level="warn">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>