<configuration>

  <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
    <!--&lt;!&ndash; encoders are assigned the type-->
         <!--ch.qos.logback.classic.encoder.PatternLayoutEncoder by default &ndash;&gt;-->
    <!--<encoder>-->
      <!--<pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>-->
    <!--</encoder>-->
  <!--</appender>-->

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>stress.log</file>
    <append>false</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>false</immediateFlush>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
</configuration>
